<% if @cemetories.blank? %>
  <p>There are not any cemetory reference currently in the system.</p>
<% else %>
<br/>
<p>These are the current cemetory records in our system</p>
<br/>

<div class="container">
<table border="1" class="table">
  <th>Member name</th>
  <th>Dob</th>
  <th>Dod</th>
  <th>Cemetory address</th>
  <th>Relation</th>
  <th>Gender</th>
  <th>Age</th>
  <th>Delete</th>

  <% @cemetories.each do |c| %>
    <tr>
        <td>
          <%= c.fullname%>
        </td>
        <td>
          <%= c.dob%>
        </td>
        <td>
          <%= c.dod%>
        </td>
        <td>
          <%= c.cemetoryaddress%>
        </td>
        <td>
          <%= c.relation%>
        </td>
        <td>
          <% if c.gender == true %>
          <h6>Female</h6>
          <% else %>
          <h6>Male</h6>
          <% end %>
        </td>
        <td>
          <% now = Time.now.utc.to_date %>
          <%= c.dod.year - c.dob.year %>
        </td>
        <td>
          <%= link_to 'Delete', destroy_path(:id => c.id),data: { confirm: "Are you sure?" } -%>
        </td>
    </tr>
  <% end %>
</table>

</div>

<% end %>
<div class="space"></div>
<p><%= link_to "Book new Cemetory", new_path %></p>
<div class="space"></div>
