
<p>select any one option.....</p>
<div id="f1"><input type="radio" name="people" value="one" />Form for you!<br/></div>
<div id="formforyou">

  <h2>cemetoryform for you</h2>
  <%= form_for @cemetoryData, :url =>{:action => "update",:id=>@cemetoryData} do |f| %>

    <p>Full Name:   <%= f.text_field :fullname, autofocus: true %></p>
    <p>Date of Birth:<%= f.text_field :dob, :class=>'datepicker' %></p>
    <p>Date of death:<%= f.text_field :dod, :class=>'datepicker' %></p>
    <p>Relation:   <%= f.text_field :relation, autofocus: true %></p>
    <p>Cemetory Address:  <%= f.text_area :cemetoryaddress %>
      You can be provide any of the cemetory address which you want to select in surat only.</p>
    <p>
        <%= f.label :gender_male, 'Male' %><%= f.radio_button :gender, 'false', :checked => true %>
        <%= f.label :gender_female, 'Female' %><%= f.radio_button :gender, 'true' %>
    </p>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit "Save changes" %>
      <% end %>
  </div>

<script>

  $(document).ready(function(){
    $("#formforyou").hide();
    $("#formforfamily").hide();

    $("input:radio[name='people']").change(function(){

      if(this.value == 'one' && this.checked){
        $("#formforyou").show();
        $("#formforfamily").hide();
        $("#f2").hide();
      }else{
        $("#f1").hide();
        $("#formforyou").hide();
        $("#formforfamily").show();
      }

    });

  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();

  });
</script>
