<br/>
  <%= text_field_tag :search, params[:search],:placeholder=>'Search cemetery info here....',:class=>'livemap' %>
<span class="fa fa-search"></span>
<br/><br/>
<div id="map" class="map1"></div>

<div id="searchlist"><%= render 'search'%></div>

<script>
  $(document).ready(function(){
    $('#search').keyup(function(){
      var text=this.value;
      //alert("Data: " + text );

      $.get("livesearch", function(data){
        //alert("Data: " + text );
        if(text)
        {
          $.ajax({
            type: "get",
            url: "/livesearch",
            dataType: 'script',
            data: {"data" : text.toLowerCase()}
          });
        }
      });
    });
  });
</script>
