<div class="space"></div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Cemetery Form</h1>
      <%= form_for @cemetory, :url =>{:action => "create"}  do |f| %>

        <div class="form-group">
          <%= f.text_field :fullname, :class=>"form-control", :id=>"exampleInputEmail1",:placeholder=>"Enter Fullname"%>
        </div>

        <div class="form-group">
           <%= f.text_field :relation, :class=>"form-control", :id=>"exampleInputPassword1", :placeholder=>"Enter Relation"%>
        </div>

        <label>Select map address</label>
        <div id="map_canvas" class="map2"></div>

        <div class="form-group">
            <%= f.text_area :cemetoryaddress, :class=>"form-control" %>
        </div>

        <div class="form-group">
          <label>Select date of birth :</label>
          <%= f.date_select :dob,:start_year=>Date.today.year - 35, :end_year=>Date.today.year,:class=>"form-control", :placeholder=>"Enter Date Of Birth" %>
        </div>

        <div class="form-group">
          <label>Select date of death:</label>
          <%= f.date_select :dod,:start_year=>Date.today.year - 5,:end_year=>Date.today.year,:class=>"form-control", :placeholder=>"Enter Date Of Death" %>
        </div>

        <div class="form-group">
          <%= f.label :gender_male, 'Male' %><%= f.radio_button :gender, 'false', :checked => true %>
          <%= f.label :gender_female, 'Female' %><%= f.radio_button :gender, 'true' %>
        </div>

        <br/><br/>

        <%= f.hidden_field :lang %>
        <%= f.hidden_field :lat %>
        <%= f.hidden_field :user_id, :value => current_user.id %>

        <%= f.submit "Save changes",:class=>"btn btn-primary my-btn dark" %>

      <% end %>

    </div>
</div>

<script>

  var geocoder;
  var map;
  var markersArray = [];

  function placeMarkerAndPanTo(latLng, map) {
    var position = latLng;
    console.log(position);
    while (markersArray.length) {
      markersArray.pop().setMap(null);
    }
    var marker = new google.maps.Marker({
      draggable: true,
      position: latLng,
      map: map,
      title: "Select Your Location!"

    });
    map.panTo(latLng);

    markersArray.push(marker);

    google.maps.event.addListener(marker, 'dragend', function(event) {
      var position = event.latLng;
      console.log(position);
    });
  }

  function initialize() {
    var map = new google.maps.Map(
      document.getElementById("map_canvas"), {
        center: new google.maps.LatLng({lat: 21.17277096919513,lng: 72.8353214263916}),
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

      map.addListener('click', function(e) {

        $("#cemetory_lat").val(e.latLng.lat()); //val assign in
        $("#cemetory_lang").val(e.latLng.lng());
        var geocoder = new google.maps.Geocoder;
        geocodeLatLng(geocoder,e.latLng);
        placeMarkerAndPanTo(e.latLng, map);
      });

      function geocodeLatLng(geocoder,addr)
      {
        var latlng = addr;
        geocoder.geocode({'location': latlng}, function(results, status)
        {
          if (status === 'OK')
          {
            if (results[0])
            {
              $("#cemetory_cemetoryaddress").val(results[0].formatted_address);

            }
            else
            {
              alert('No results found');
            }
          }
          else
          {
            alert('Geocoder failed due to: ' + status);
          }
        });
      }
    }
  google.maps.event.addDomListener(window, "load", initialize);
  //google.setOnLoadCallback(initialize);
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWtPc7P3WE-qisP-f-tSiGZJO__iD6Pw8&callback=initialize">
  </script>
  <!-- <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datepicker();

    });
  </script> -->
