<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Login</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :id=>"contact") do |f| %>
      <div class="form-group">
        <%= f.text_field :email, :class=>"form-control", :id=>"exampleInputEmail1",:placeholder=>"Enter Email" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, :class=>"form-control", :id=>"exampleInputPassword1", :placeholder=>"Enter password" %>
      </div>
        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      <%= f.submit "Log in",:class=>"btn btn-primary my-btn dark" %>
      <% end %>
      <%= render "/users/shared/links" %>
    </div>
</div>
