<% provide(:title, "About") %>
<div class="space"></div>
<div id="tf-about">
  <div class="overlay">
    <div class="container">
    
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <h3>About Me</h3>
          <br>
          <p>Cemeteryapp is a publisher of cemetery transcriptions for use by genealogists and local historians. We maintain an online archive of transcriptions that spans tens of thousands of cemeteries across the world. Visitors use our online library to trace their family history, and learn about local history.</p>
          <p>Most transcriptions we publish are sourced from government bodies (cities, counties, district, federal agencies), as well as churches, genealogical, and historical groups.</p>
          <p>Many of the transcriptions published here are of cemeteries that no longer exist. Hence, Interment.net provides a place where cemeteries can be preserved in documentation and used by generation after generation.</p>
            <br>
            <%= link_to "CemeteryApp",home_path, :class=>"btn btn-primary my-btn dark" %>
          </div>
        </div>
      </div>
    </div>
  </div>
