<% provide(:title, "Contact") %>
<div id="tf-contact">
    <div class="container">
        <div class="section-title">
            <h3>Contact Me</h3>
            <p>Register cemetery here CemeteryApp.</p>
            <hr>
        </div>

        <div class="space"></div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form id="contact">
                  <div class="form-group">
                  Contact Person Name: Asmita kalena r.
                  </div>
                  <div class="form-group">
                  Contact: 0261 43304512
                  </div>
                  <div class="form-group">
                  Mobile: +91 9856897845
                  </div>
                  <div class="form-group">
                  Address: Adajan new anad maha road,surat.
                  </div>
                  <div class="form-group">
                  Email: cemeteryApp@gov.email
                  </div>

                </form>
            </div>
        </div>
    </div>
</div>
