<%= search_form_for @search, url: home_path,method: :post do |f| %>
<div class="field">
  <%= f.text_field :fullname_cont,:placeholder=>'Search member info here....',:class=>'indexmap'%>
  <%= f.submit "Search"%>
</div>
<% end %>
<br/>

<div>
    <div id="map" class="map1"></div>
</div>

<br/><br/>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){

      markers = handler.addMarkers(<%=raw @hash.to_json %>);

      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>
