<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h2>Change your password</h2>
      <div class="form-group">
          <%= devise_error_messages! %>
      </div>
      <br/><br/>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off",:class=>"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control" %>
      </div>

      <%= f.submit "Change my password", :class=>'btn btn-primary my-btn dark' %>

    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>
