<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="form-group">
      <%= devise_error_messages! %>
    </div>
    <br/>

    <div class="row">
      <h2>Forgot your password?</h2>
      <br/>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group">
        <%= f.text_field :username, autofocus: true,:class=>"form-control", :id=>"exampleInputEmail1",:placeholder=>"Enter Username or Email"%>
      </div>
      <%= f.submit "Send me reset password instructions",:class=>"btn btn-primary my-btn dark"  %>
      <% end %>
      <%= render "/users/shared/links" %>
    </div>

  </div>
</div>
