<nav id="tf-footer">
		<div class="container">
				 <div class="pull-left">
						<p>2017 © CemeteryApp. All Rights Reserved. Designed and Coded by <span>Asmita kalena</span></p>
				</div>
				<div class="pull-right">
						<ul class="social-media list-inline">
						</ul>
				</div>
		</div>
</nav>
