<div id="tf-home">
  <div class="overlay">
    <div id="sticky-anchor"></div>
     <nav id="tf-menu" class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <%= link_to "Register Cemetery", root_path, :class=>"navbar-brand logo"%>
          </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to root_path do %><i class="fa fa-home"></i><% end -%>
              </li>

              <li>
                <%= link_to 'Live search', livesearch_path%>
              </li>
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              <% if user_signed_in? %>

                <li><%= link_to 'Cemetory Form', new_path %></li>
                <li><%= link_to 'Cemetory List', list_path%></li>

                <li class="dropdown">
                    <%= link_to 'Settings',:class=>"dropbtn" %>
                    <div class="dropdown-content">
                      <%= link_to 'Edit profile', edit_user_registration_path %>
                      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                    </div>
                </li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="content">
        <% if user_signed_in? %>
        <div class="logininfo">Logged in as <strong><%= current_user.email %></strong>.</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
