<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Cemetery App">
  <meta name="author" content="Asmita kalena">
  <title>CementryApp</title>
  <%= csrf_meta_tags %>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWtPc7P3WE-qisP-f-tSiGZJO__iD6Pw8&callback=initialize">
  </script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>
<body>
      <%= render 'layouts/header' %>
      <div class="container">
          <br/>
          <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
          <% end %>

          <%= yield %>
        <!-- <%= debug(params) if Rails.env.development? %> -->
      </div>
      <br/>
     <%= render 'layouts/footer' %>
</body>
</html>
