<div class="space"></div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <br/>
        <div class="form-group">
            <%= devise_error_messages! %>
        </div>
      <br/>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="form-group">
            <%= f.text_field :username,:class=>"form-control" %>
        </div>

        <div class="form-group">
            <%= f.email_field :email, autofocus: true, :class=>"form-control"%>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off", :class=>"form-control" %>
            <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
        </div>

        <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control" %>
        </div>

        <div class="form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", :class=>"form-control" %>
        </div>

          <%= f.submit "Update", :class=>'btn btn-primary my-btn dark' %>
        <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
  </div>
</div>
