<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Register cemetery</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="div-msg"><%= devise_error_messages! %></div>

      <div class="form-group">
        <%= f.text_field :username,:class=>"form-control", :id=>"exampleInputEmail1",:placeholder=>"Enter Username" %>
      </div>
      <div class="form-group">
        <%= f.text_field :mobile,:class=>"form-control", :id=>"exampleInputEmail1",:placeholder=>"Enter Mobile" %>
      </div>
      <div class="form-group">
        <%= f.text_area :homeaddress,:class=>"form-control", :id=>"exampleInputEmail1",:placeholder=>"Enter Home Address" %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, :class=>"form-control", :id=>"exampleInputPassword1", :placeholder=>"Enter Email" %>
      </div>

      <div class="form-group">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password,autocomplete: "off", :class=>"form-control", :id=>"exampleInputPassword1", :placeholder=>"Enter Password" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation,autocomplete: "off", :class=>"form-control", :id=>"exampleInputPassword1", :placeholder=>"Enter Confirm Password" %>
      </div>
      <%= f.submit "Sign Up",:class=>"btn btn-primary my-btn dark" %>
      <% end %>

    </div>
</div>
<br/><br/><br/><br/><br/><br/>
